span, p, button, h1, header, input, select, th, td {
  font-family: sans-serif;
}

th {
  background-color: #2F83FF;
  color: #FFF;
  padding: 8px;
}

td {
  background-color: #f7f4f4;
  text-align: center;
  padding: 8px;
}

h1 {
  font-size: 30px;
  padding: 10px 0;
  color: #074DB2;
}

header {
  -webkit-box-shadow: 0 2px 2px 0 #438bf5;
  box-shadow: 0 2px 2px 0 #438bf5;
  background-color: #1574FF;
  padding: 10px 0;
  text-align: center;
  color: #FFF;
  font-size: 30px;
}

input {
  -webkit-box-shadow:inset 0 2px 1px 0 #BDBDBD;
  box-shadow:inset 0 2px 1px 0 #BDBDBD;
  box-sizing:content-box;
  width: 147px;
  padding: 8px 8px 8px 5px;
  border: 1px solid gray;
  font-size: 15px;
}

select {
  -webkit-box-shadow:inset 0 2px 1px 0 #cbcbcb;
  box-shadow:inset 0 2px 1px 0 #cbcbcb;
  box-sizing:content-box;
  width: 150px;
  padding: 8px 8px 8px 2px;
  border: 1px solid gray;
  font-size: 15px;
}


/*Home page only classes*/
.home-container {
  width: 900px;
  margin: 20px auto;
  display: flex;
  justify-content: space-between;
}

.input-row {
  display: flex;
  margin: 10px 0;
}

.input-label {
  -webkit-box-shadow:inset 0 2px 1px 0 #cbcbcb;
  box-shadow:inset 0 2px 1px 0 #cbcbcb;
  box-sizing:content-box;
  width: 150px;
  padding: 8px;
  display: flex;
  justify-content: space-between;
  background-color: #f7f4f4;
  border: 1px solid gray;
  border-right: 0px;
}

.payment {
  height: 50px;
  width: 330px;
  font-size: 20px;
}

.submit-btn {
  width: 100%;
  padding: 8px;
  font-size: 15px;
  font-family: sans-serif;
}


/*checkout page only classes*/
.checkout-container {
  width: 900px;
  margin: 20px auto;
}

.thanks {
  margin-bottom: 20px;
  font-size: 25px;
}

.store {
  margin-top: 30px;
  position: absolute;
  bottom: 50px;
  border-top: 2px solid #438bf5;
}

.store p {
  font-size: 20px;
}


/*error handling classes*/
.error {
  display: none;
  color: red;
}

.error-show {
  display: block;
}

.invalid {
  border-color: red;
}

.last {
  margin-bottom: 8px;
}
